.App {
  height: 100vh;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 1fr 8fr 1fr;
  grid-template-areas:
    "header header" "nav nav"
    "section main" "footer footer";
}

header {
  border: rgba(255, 0, 0, 0, 1);
  background: rgba(255, 6, 7, 0.03);
  grid-area: header;
}
.nav {
  border: rgba(255, 0, 0, 0, 1);
  background: rgba(255, 6, 7, 0.03);
  grid-area: nav;
}

.main {
  border: 2px solid rgba(190, 190, 196, 0.815);
  background: rgba(97, 138, 64, 0.1);
  grid-area: main;
}
.section {
  border: 2px solid rgb(231, 229, 235);
  background: rgba(97, 138, 64, 0.1);
  grid-area: section;
}
footer {
  border: 2px solid rgb(192, 196, 191);
  background: rgba(97, 138, 64, 0.1);
  grid-area: footer;
}
.div {
  background-color: lightgrey;
  width: auto;
  border: 2px solid rgb(245, 244, 255);
  padding: 5px;
  margin: 25px;
}
.text {
  text-align: justify;
}
